# Arquivos binários e executáveis (exceto os necessários do projeto)
*.dll
*.so
*.dylib

# Arquivos de configuração do sistema
*.lnk
desktop.ini

# Pastas de instalação de software do SQL Developer
pbl/**/sqldeveloper/jdk/
pbl/**/sqldeveloper/jre/
pbl/**/sqldeveloper/external/
pbl/**/sqldeveloper/modules/javafx/
pbl/**/sqldeveloper/netbeans/
pbl/**/sqldeveloper/sqldeveloper/bin/
pbl/**/sqldeveloper/sqldeveloper/doc/
pbl/**/sqldeveloper/sqldeveloper.exe
pbl/**/sqldeveloper/sqldeveloper.sh

# Arquivos temporários
*.tmp
*.log
*.cache

# Arquivos do sistema operacional
Thumbs.db
.DS_Store

